[user]
	name = Vlad GURDIGA
	email = gurdiga@gmail.com
[color]
	ui = true
[core]
	pager = less -XFRS
	editor = vim
	excludesfile = ~/.gitignore
	quotepath = false
[alias]
	is-clean = diff --exit-code --quiet
[branch]
	autosetuprebase = always
[pull]
	rebase=true
[push]
	default=current
[diff]
	compactionHeuristic=true
[checkout]
	defaultRemote=origin

