MAILTO=gurdiga@gmail.com
MAILFROM=cron@sandradodd.com
SHELL=/bin/bash

@weekly certbot renew --post-hook "systemctl reload nginx" --quiet |& ifne mail -s 'SandraDodd.com: certbot' gurdiga@gmail.com
@reboot cd sandradodd && make start-droppy |& ifne mail -s 'SandraDodd.com: start-droppy' gurdiga@gmail.com
@monthly cd sandradodd && make check-npm-outdates |& ifne mail -s 'SandraDodd.com: outdated NPM packages' gurdiga@gmail.com
@monthly df -h /dev/vda1 /dev/sda |& ifne mail -s 'SandraDodd.com: df report' gurdiga@gmail.com
@weekly journalctl --vacuum-time=30d |& ifne mail -s 'SandraDodd.com: journalctl vacuum' gurdiga@gmail.com
